@media (max-width: 1200px) {
	.open_about {
		width: 30% !important;
	}
	.about .about_container {
		width: 70%;
	}
	.full {
		width: 90%;
	}
	.half {
		width: 40%;
	}
	.open_projects {
		width: 30% !important;
	}
	.projects .project_container {
		width: 70%
	}
	.contact .contact_container .contact_footer {
		.footer_branding  {
		-webkit-box-flex: 2;
		    -ms-flex: 2;
		        flex: 2;
		}
		.footer_social {
			ul {
				li {
					text-align: left;
					a {
						.fa {
							margin-top: 25%;
						}
						h3 {
							display: none;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 800px) {
	.body {
		height: 100%;
	}
	.wrapper{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		overflow: auto;
		-webkit-perspective: none;
		        perspective: none;
		height: auto;
		#landing{
			position: relative;
			z-index: 0;
			height: 100vh;
			margin-bottom: 2rem;
			.mobile_branding {
				display: block;
				h1 {
					margin: 0;
				}
			}
			.desktop_nav {
				display: none !important;
			}
		}
		.about {
			height: auto;
			display: block;
			position: relative;
			border-bottom: 3px solid #000;
			margin-bottom: 2rem;
			.about_container{
				width: 100%;
				height: auto;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				margin-bottom: 0;
				padding: 0 1rem;
				.about_close {
					display: none;
				}
				.about_scroller {
					height: auto;
					.about_content {
						margin-top: 0;
						height: auto;
						.about_social {
							margin: 1rem 0;
							width: 100%;
							height: auto;
							ul {
								li {
									text-align: left;
								}
							}
						}
					}
				}
			}
		}
		.projects {
			height: auto;
			display: block;
			position: relative;
			margin-bottom: 2rem;
			border-bottom: 3px solid #000;
			.project_container {
				width: 100%;
				height: auto;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				margin-bottom: 2rem;
				padding: 0 1rem;
				.project_scroller {
					height: auto;
				}
			}
		}
		.contact {
			height: auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			position: relative;
			.contact_container{
				height: auto;
				position: relative;
				padding: 0 1rem;
				.mobile_title {
						margin-top: 0;		
				}

				.content_container{
					position: relative;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					margin-bottom: 0;
					
					.contact_content{
						width: 100%;
						height: auto;
						text-align: left;
					}
				}
				.contact_footer {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					 height: 20vh;
					.footer_branding {
						-webkit-box-ordinal-group: 4;
						    -ms-flex-order: 3;
						order: 3;
						width: 100%;
						height: 10vh;
						text-align: left;
						margin-bottom: 1rem;
						padding-top: 1rem;
					}
					.footer_close {
						display: none;
					}
					.footer_social {
						width: 100%;
						height: 10vh;
						flex: 1;
						ul {
							li {
								text-align: left;
								a {
									.fa {
										margin-top: 25%;
									}
									h3 {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}	
	.mobile_title {
		display: block;
	}
	.close_page{
		display: none;
	}
	.full {
		margin-left: 0;
		width: 100%;
	}
	.half {
		width: 50%;
		height: 200px;
	}
}

@media (max-width: 500px) {

	.half {
		width: 100%;
		margin-left: 0;
		.about_social {
			margin-left: 0;
		}
	}
	.wrapper {
		.about {
			.about_container {
				margin-bottom: 0;
				.about_scroller {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					padding: 0;
					.about_content {
						margin-top: 0;
						height: auto;
						padding: .5rem 0 0;
						.about_social {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							margin: 1rem 0;
							width: 100%;
							height: auto;
							li {
								-webkit-box-flex: 1;
								    -ms-flex: 1;
								        flex: 1;
								a {
									display: -webkit-box;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									    -ms-flex-direction: column;
									        flex-direction: column;
									-ms-flex-pack: distribute;
									    justify-content: space-around;
									h3 {
										display: none;
									}
								}
							}
						}	
					}
				}
			}
		}
		.projects {
			.project_container {
				.project_scroller {
					.project_content {
						min-height: 0;
						.project_header {
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;
							    -ms-flex-direction: column;
							        flex-direction: column;
							margin-left:0;
							.project_description {
								padding-left: 0;
							}
						}
						.project_preview {
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;
							    -ms-flex-direction: column;
							        flex-direction: column;
							padding: 0;
							width: 100%;
							.project_writeup {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-ms-flex-wrap: wrap;
								    flex-wrap: wrap;
								padding: 1rem 0;
								min-width: 100%;
    							max-width: 100%;
								width: 100%;
								p {
									width: 100%;
									margin-bottom: 1rem;

								}
								ul:first-of-type {
									width: 70%;
									padding-right: .2rem;
								}
								ul {
									margin-bottom: 1rem;
								}
							}
							.project_screengrab {
									padding: 0;
							}
						}
					}
				}
			}
		}
		.contact {
			.contact_container {
				.mobile_title {
					margin-top: 0;		
				}
				.content_container {
					h1 {
						margin: 0;
						font-size: .8rem;
					}
				}
				.contact_footer {
					.footer_social {
					}
				}
			}
		}
	}
}
@media (max-width: 330px) {
	.wrapper{
		#landing{
			.mobile_branding {
				top: calc(50% - 1.5rem);
			}
		}
	}
}