#landing {
	button {
		color: rgba(255,255,255, .5);
		border: none;
		background-color: transparent;
		font-family: $fontMain;
		padding: 0;
		h1 {
			pointer-events: none;
			font-size: 1.3rem;	
		}
	}
	button:focus {
		outline:0;
	}
	button:hover {
		color: rgba(255,255,255, 1);
		-webkit-transition: color 500ms ease-in;
		-o-transition: color 500ms ease-in;
		transition: color 500ms ease-in;
	}
}

.close_page {
	border: none;
	background-color: transparent;
	width: 4rem;
	height: 4rem;
	
	img {
		pointer-events: none;
		-webkit-transform-origin: center center;
		    -ms-transform-origin: center center;
		        transform-origin: center center;
		margin: auto auto;
		max-width: 1.5rem;
		max-height: 1.5rem;
	}
}