$fontSpecial: 'Permanent Marker', cursive;
$fontMain: 'Ubuntu', sans-serif;
$fontSecondary: 'Ubuntu', sans-serif;
/*
'Permanent Marker', cursive;
'Ubuntu', sans-serif;
*/

h1 {
	font-size: 1rem;
	text-transform: uppercase;
	font-family: $fontMain;
	letter-spacing: 1px;
}
h2 {
	font-size: .8rem;
	font-family: $fontSecondary;
}
h3 {
	font-size: .8rem;
	font-family: $fontSecondary;
}
p {
	font-family: $fontSecondary;
}
a {
	text-decoration: none;
	color: #000;
}
.faded {
	opacity: .5;
}
.hidden {
	display: none;
}